.crl{
	clear: both;
}

.block{
	float: left;
	width: 33.3%;
    padding: 10px;
	box-sizing: border-box;
}

#main-block{
	float: left;
	width: 70%;
	padding: 15px;
	box-sizing: border-box;
}


#sidebar{
	float: right;
	width: 30%;
	background-color: #333333;
	color: #FFFFFF;
	padding: 15px;
	box-sizing: border-box;
}


img{
	border-radius: 10px;
	float: left;
	padding: 5px;
}

h2{
	font-size: 1.5rem;
	font-weight: 500;
	line-hight: 1.3;
	margin-bottom: 20px;
}